appdirs==1.4.4
beautifulsoup4==4.12.3
bs4==0.0.2
certifi==2024.2.2
charset-normalizer==3.3.2
cssselect==1.2.0
fake-useragent==1.5.1
idna==3.7
importlib-metadata==7.1.0
lxml==5.2.1
numpy==1.26.4
opencv-python==4.9.0.80
parse==1.20.1
pillow==10.3.0
pyee==11.1.0
pymupdf==1.24.2
pymupdfb==1.24.1
pyppeteer==2.0.0
pyquery==2.0.0
pyzbar==0.1.9
requests==2.32.0
requests-html==0.10.0
soupsieve==2.5
tqdm==4.66.4
typing-extensions==4.11.0
urllib3==1.26.18
w3lib==2.1.2
websockets==10.4
zipp==3.18.1
